img {
  width: 200px;
}

.btn-more-info {
  background-color: white !important;
  /* border-color: #0b5ed7 !important; */
  margin-right: 10px;
}

.btn-buy {
  background-color: #2e8b57 !important;
  color: white !important;
}

/* .book-card .dropdown-menu {
  padding: 20px; /* Adjust this value as needed */
/* } */
